# Raw data (very large files)

data/
*.fastq
*.fastq.gz

# Alignment files

*.sam
*.bam
*.bai

# Variant files (optional: keep only small example)

results/varients/
*.vcf
*.bcf

# Annotation outputs

results/annotation/

# Logs

logs/

# Conda environments

.env/
*.conda

# OS / temp files

.DS_Store
Thumbs.db

# Snakemake metadata

.snakemake/

